#login-wrapper {
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
}

#login {
    width: 50%;
    display: inline-block;
}

#signup {
    width: 50%;
    display: inline-block;
}

#error {
    color: red;
    text-align: center;
    font-size: 24px
}
